*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/*shared style*/
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;  
}

/*btn = button*/
.btn{
    background-color: #FD6E0A;
    font-size: 20;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
    color: #181818;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}


/*main style*/
/* body{
    background-color: aqua;
} */

header{
    background-color: #FFF8F3;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3 ;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid darkred; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    font-size: 20px;
    color: #474747;
    align-items: center;
}

nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    color: #181818;
    font-weight: bold;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #FFF8F3;
    text-align: center;
    padding: 131px 157px;
}

#about .about-container .about-info{
    width: 782px;
    display: flex;
    justify-content: space-around;
}

.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
    font-weight: 400;
}

.about-info .info-card h4{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}
/* border: 1px solid red; */

#skills{
    /* border: 1px solid red; */
    padding-top: 130px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}

.skill-box .skill-cards{
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #0000003b;
}

.skill-cards img{
    max-width: 44px;
    margin-bottom: 30px;
}

.skill-cards h3{
    font-size: 20px;
    color: #181818;
    max-width: 174px;
    margin-bottom: 20px;
}

.skill-cards p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}



